/**
 * Contextual toggle admin link
 */
#admin-menu ul li.contextual-toggle a {
  text-indent: -9999px;
  background: url("/modules/contextual/images/gear-select.png") no-repeat scroll 2px -17px transparent;
}

#admin-menu ul li.contextual-toggle a.active {
  background-position: 2px 0;
}

/**
 * Contextual link region hightlighting
 */
.contextual-toggle-area {
  outline: 1px dashed rgba(192, 192, 192, 0.6);
}

/**
 * Contextual link triggers
 */
.contextual-toggle-area .contextual-links-trigger {
  display: block;
  opacity: 0.8;
}

/**
 * Avoid colision with Overlay
 */
.contextual-toggle-area div.contextual-links-wrapper {
  z-index: 380;
}
